* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.box{
    background-color: green;
}