* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
    /* transform: rotate(45deg) scale(4); */
    /* transform: translate(100%, 100%); */
}

.box:hover {
    background-color: green;
    transform: rotate(120deg);
}