* {
    margin: 0;
    padding: 0;
}

h1 {
    /* margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 40px; */
    margin: 10px;
    /* margin: 10px 20px 30px 40px; */
    margin: 15px 30px; /* 15px დაშორება ზემოთ და ქვემოთ და 30 გვერდებზე */
     /*padding-ზეც იგივე  */
    text-align: center; 
}

p {
    text-align: center;
}

.text-container {
    padding: 0 20px;
}

.big-text {
    font-size: 22px;
}

.voluptate {
    font-weight: bold;
    font-style: italic;
    color: green;
    text-decoration: underline;
}

.page-link {
    font-size: 20px;
    color: green;
    text-decoration: none;
}

.box-cont {
    height: 50vh; /* ეკრანის ზომის ნახევარი */
    background-color: rgb(179, 163, 195);
    margin: 10px;
    display: flex;
    gap: 10px; /* დაშორებები ელემენტებს შორის */
    /* space-between, space-around */
    justify-content: center;
    align-items: center;
}

.box {
    /* display: inline-block; */
    width: 100px;
    height: 100px;
    background-color: blue;
}