* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont {
    margin: 20px auto;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 250px;
    background-color: green;
    padding: 40px 10px;
}

@media screen and (max-width: 820px) {
    .cont {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .box {
        background-color: red;
    }
}

@media screen and (max-width: 440px) {
    .box {
        background-color: orange;
    }
}

@media screen and (max-width: 270px) {
    .box {
        width: 100%;
    }
}

/* @media screen and (min-width: 440px) {
    440px-ის ზემოთ იცვლება 
    .box {
        background-color: orange;
    }
} */