body {
    background-color: rgb(106, 129, 236);
    /* color: white; */
}

#mainTitle { /* #-ით მივმართავ აიდს */ 
    /* width: px, %, max-content, min-content */
    width: max-content;
    color: red;
    background-color: greenyellow;
    /* margin - გარე დაშორებები */
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    /* margin: 100px; */
    /* padding - შიდა დაშორებები */
    /* padding-top: 50px; */
    /* padding: 20px; */
}

b {
    /*display: inline, block, inline-block  */
    display: inline-block;
    background-color: aquamarine;
    width: 150px;
}

h2 {
    width: max-content;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}

.bg-mwvane { /* . -ით მივმართავ კლასს */ 
    background-color: greenyellow;
}