

table, td, th {
    border: 2px solid rgb(239, 191, 0);
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 10px;
}

th {
    background-color: rgb(77, 190, 190);
}

/* 
tr:nth-child(3)
tr:nth-child(odd) კენტები
tr:nth-child(even) ლუწები
 */

.table1 tr:nth-child(even) {
    background-color: rgb(231, 197, 197);
}

/*  */

.cont {
    padding: 20px;
    display: flex;
    gap: 4px;
}

.cont .box {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
}

.cont .box:nth-child(odd) {
    background-color: green !important;
}