* {
    margin: 0;
    padding: 0;
}

.cont {
    width: 600px;
    margin: 30px auto;
    font-size: 70px;
    background-color: green;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    /* justify-content: space-between; */
}

.box {
    /* width: 200px; */
    height: 100px;
    /* margin: 10px; */
    border-radius: 4px;
    text-align: center;
}

.red {
    flex: 1;
    background-color: red;
}

.blue {
    flex: 2;
    background-color: #1d639b;
}